<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
  <!-- BEGIN LOGO -->
  <div class="page-logo">
    <a href="#/">
      <img src="images/nav_logo.png" alt="logo" class="logo-default" style="width: 50% !important;" /> </a>
    <div class="menu-toggler sidebar-toggler">
      <span></span>
      <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN HEADER SEARCH BOX -->
  <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
  <form class="search-form hide" action="#" method="GET">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..." name="query">
      <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
    </div>
  </form>
  <!-- END HEADER SEARCH BOX -->
  <!-- BEGIN RESPONSIVE MENU TOGGLER -->
  <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    <span></span>
  </a>
  <!-- END RESPONSIVE MENU TOGGLER -->
  <!-- BEGIN TOP NAVIGATION MENU -->
  <div class="top-menu">
    <ul class="nav navbar-nav pull-right">
      <!-- BEGIN LANGUAGE BAR -->
      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
      <li class="dropdown dropdown-language hide">
        <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
          <img alt="" src="metronic/assets/global/img/flags/us.png">
          <span class="langname"> EN </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
          <li class="active">
            <a href="#">
              <img alt="" src="<%settings.globalPath%>/img/flags/us.png"> English </a>
          </li>
          <li>
            <a href="#">
              <img alt="" src="<%settings.globalPath%>/img/flags/de.png"> German </a>
          </li>
          <li>
            <a href="#">
              <img alt="" src="<%settings.globalPath%>/img/flags/ru.png"> Russian </a>
          </li>
          <li>
            <a href="#">
              <img alt="" src="<%settings.globalPath%>/img/flags/fr.png"> French </a>
          </li>
        </ul>
      </li>
      <!-- END LANGUAGE BAR -->
      <!-- BEGIN USER LOGIN DROPDOWN -->
      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
      <li class="dropdown dropdown-user">
        <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
          <span class="username username-hide-on-mobile"> <% user.name %> </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
          <li>
            <a href="" ng-click="logout()">
              <i class="icon-key"></i> Log Out </a>
          </li>
          <li>
            <a href="" ui-sref="password-reset">
              <i class="icon-pencil"></i> Reset Password </a>
          </li>
        </ul>
      </li>
      <!-- END USER LOGIN DROPDOWN -->
    </ul>
  </div>
  <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->